<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="de.persosim.simulator.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="de.persosim.simulator.ui.persosinView"
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            category="org.globaltester"
            class="de.persosim.simulator.ui.parts.PersoSimGuiMain"
            icon="persosim_small.png"
            id="de.persosim.simulator.ui.e4View"
            name="PersoSim"
            restorable="true">
      </e4view>
   </extension>
   


</plugin>
